.card_item {
    cursor: grab;
    margin-top: 24px;
  }
  
  .item_light {
    width: 100%;
    background: #fff;
    color: #000;
  }
  
  .item_darck {
    width: 100%;
    background: #1677ff;
    color: #ffffff;
  }
  